$font-family: proxima-nova, sans-serif;
$text-color: #222222;
$primary-color: #08498f;
$secondary-color: #d0021b;

body {
    font-family: $font-family;
    font-size: 18px;
    color: $text-color;
    padding: 50px;
}

input {
    font-family: $font-family;
    font-size: 1em;
    color: $text-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 10px 15px;
}

input[type=button],
input[type=submit] {
    background-color: $primary-color;
    color: #ffffff;
    cursor: pointer;
}

input:hover[type=button],
input:hover[type=submit] {
    border-color: $secondary-color;
    background-color: $secondary-color;
}

a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #d0021b;
}

header {
    background-color: $primary-color;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

header h1 {
    text-transform: uppercase;
}

header a {
    color: #ffffff;
}

.subscribe-button {
    text-align: center;
}
