body {
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    color: #222222;
    padding: 50px;
}

input {
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    color: #222222;
    border: 1px solid #08498f;
    border-radius: 5px;
    padding: 10px 15px;
}

input[type=button],
input[type=submit] {
    background-color: #08498f;
    color: #ffffff;
    cursor: pointer;
}

input:hover[type=button],
input:hover[type=submit] {
    border-color: #d0021b;
    background-color: #d0021b;
}

a {
    color: #08498f;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #d0021b;
}

header {
    background-color: #08498f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

header h1 {
    text-transform: uppercase;
}

header a {
    color: #ffffff;
}

.subscribe-button {
    text-align: center;
}
