$font-family: proxima-nova, sans-serif;
$text-color: #222222;
$primary-color: #08498f;
$secondary-color: #d0021b;

body {
    font-family: $font-family;
    font-size: 18px;
    color: $text-color;
    padding: 50px;
}

input {
    font-family: $font-family;
    font-size: 1em;
    color: $text-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 10px 15px;

    &[type=button],
    &[type=submit] {
        background-color: $primary-color;
        color: #ffffff;
        cursor: pointer;

        &:hover,
        &:hover {
            border-color: $secondary-color;
            background-color: $secondary-color;
        }
    }
}

a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        color: #d0021b;
    }
}

header {
    background-color: $primary-color;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;

    h1 {
        text-transform: uppercase;
    }

    a {
        color: #ffffff;
    }
}

.subscribe-button {
    text-align: center;
}
